# =========================
# Node
# =========================
node_modules/
dist/
.vite/

# Environment variables
.env
.env.*
!.env.example

# =========================
# Go
# =========================
*.exe
*.out
*.test

# Binary files
assetcc

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Hyperledger / ChainLaunch
# =========================
wallet/
crypto-config/
network-config.yaml

# Private certificates / keys
*.key
*.pem
*_sk

# =========================
# Python
# =========================
__pycache__/
*.pyc
venv/
.venv/
